<div class="stations">
    <h2>CTA Stations</h2>

    <label ng-if="$ctrl.selectedStation === null">
        Pick a station:
        <input ng-model="$ctrl.userStation" value="$ctrl.userStation" />
    </label>

    <div class="card-grid" ng-if="$ctrl.userStation && $ctrl.selectedStation === null">
        <button class="card" ng-repeat="station in $ctrl.stations | filter: $ctrl.userStation" ng-click="$ctrl.selectedStation = station">
            <h3>{{station.name}}</h3>
            <span ng-if="station.accessible" class="material-icons">accessible</span>
        </button>
    </div>

    <div ng-if="$ctrl.selectedStation">
        <h3>You Selected: {{$ctrl.selectedStation.name}}</h3>
        <button ng-click="$ctrl.selectedStation = null; $ctrl.userStation = ''">Start Over</button>
    </div>

</div>