<div class="stations">
    <h2>CTA Stations</h2>

    <label>
        Pick a station:
        <input ng-model="userStation" />
    </label>

    <ul ng-if="userStation && $ctrl.selectedStation === null">
        <li ng-class="station-card" ng-repeat="station in $ctrl.stations | filter: userStation" ng-click="$ctrl.selectedStation = station">
            <h3>{{station.name}}</h3>
            <span ng-if="station.accessible" class="material-icons">accessible</span>
        </li>
    </ul>

    <div ng-if="$ctrl.selectedStation">
        <h3>You Selected: {{$ctrl.selectedStation.name}}</h3>
    </div>

</div>